@import url(../common.css); 
#menuSub, 
#menuMainList li span, 
#help h2 { 
background:#334f45; 
color:#fff; 
border-color:#456b5d;
} 
#menuSubList li a { 
background: #4a7869;
color:#fff; 
border-color:#365349;
} 
#menuSubList li a:hover { 
background:#51a588; 
color:#fff; 
border-color:#58b594;
} 
fieldset legend { 
color:#30519c; 
} 
#help a { 
color:#fff; 
} 
#help a:hover { 
color:#fff; 
}
.meter .bar {
background-color: #496fc7;
}
.meter .text {
color:#fff;
}
.progressbar {
background-color: #fff;
border-color: #999;
font-size:.09em;
border-width:.09em;
}
.progressbarblock {
background-color: #496fc7;
font-size:.09em;
}
h1 {
 font-size: 26px;
 margin-top: 0px;
}
#header #logo {
	color: #fff;
	padding: 0px 5px 0px 5px;
}

#header #logo a {
color: #fff;
text-decoration: none;
}
