Package: hah
Version: 0.1
Description: Home Automation Hub
 An xAP enabled automation system.
Section: base
Priority: optional
Maintainer: Brett England <brett@dbzoo.com>
Architecture: armhf
Homepage: http://www.homeautomationhub.com
Depends: libc6,libxml2,libcurl3,lua5.1,lua-filesystem,lua-rex-posix,lua-socket
Provides: hah
Source: http://livebox-hah.googlecode.com/svn/branches/portable
